<h1>Did you wanted a: </h1>
<%= @cocktail.name %>
<% if @cocktail.photo.attached? %>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% @cocktail.doses.each do |dose| %>
<a><%= dose.description %> : <%= dose.ingredient.name %></a>
<% end %>
<%=link_to "dose", new_cocktail_dose_path(@cocktail)%>